.detail-movie {
    display: flex;
    padding: 100px 200px;

    .container-right {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: auto;
            height: 500px;
            margin: 0 60px 20px 0;
        }

    }

    .container-left {
        color: white;

        h1 {
            display: flex;
            justify-content: center;
            margin: 20px 0px;
        }

        .full-info-movie {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            span {
                font-size: 16px;
                margin-bottom: 10px;
                color: rgb(255, 255, 255, 0.5);
            }

            p {
                font-size: 18px;
            }
        }

    }
}

.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
    margin-right: 0;
}

.dot:nth-child(1) {
    animation-delay: -0.3s;
}

.dot:nth-child(2) {
    animation-delay: -0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }

    50% {
        transform: scale(1.2);
        background-color: #6793fb;
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }

    100% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
}

.dots-container {
    padding: 100px 200px;

}

.error {
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    height: calc(100dvh - 230px);
    padding: 100px 200px;
}

.btn {
    button {
        background-color: white;
        border: none;
        color: black;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgba(255, 255, 255, 0.75);
        }
    }

}

@media (max-width: 1200px) {
    .detail-movie {
        display: block;
        padding: 100px 0px 0px 0px;
    }
    .detail-movie .container-right img {
             margin: 0 0 20px 0
    }
    .detail-movie .container-left{
        margin: 0 10px;
    }
}