.container-genre {
  padding: 100px 0px 60px 60px;
  color: white;

  h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
  }

  .wrap-list-genre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 40px;
  }

  .movie-item {
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    .movie-info {
      padding: 15px;
      text-align: center;

      .movie-name {
        font-size: 1.1rem;
        margin-bottom: 10px;
        color: #fff;
      }

      .movie-episode {
        font-size: 0.9rem;
        color: #aaa;
      }
    }
  }

  /* Responsive design */
  @media (max-width: 768px) {
    padding: 50px 20px;

    .wrap-list-genre {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .movie-item {
      width: 100%;
      max-width: 300px;
      margin-bottom: 20px;
    }
  }
}

.dots-container {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

.pagination {
  display: flex;
  justify-content: center;
}