.banner {
    height: 75vh;
    min-width: 100%;

    .video-container {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        object-fit: cover;
        z-index: -1;

        &::after {
            content: "";
            width: 100%;
            height: 50%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(180deg, transparent, #141414);
        }

        .banner-video {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            object-fit: cover;

        }
    }

    .banner-info {
        position: absolute;
        top: 20%;
        left: 60px;
        width: 36%;

        .banner-logo {
            width: 100%;
        }

        .banner-description {
            color: white;
            padding: 24px 0;
        }

        .container-btn {
            display: flex;

            .default-button {
                background-color: white;
                border: none;
                color: black;
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
                border-radius: 4px;
                display: flex;
                align-items: center;
                gap: 8px;
                transition: background-color 0.3s ease;
            }


            .default-button:hover {
                background-color: rgba(255, 255, 255, 0.75)
            }

            .default-button:active {
                background-color: rgba(255, 255, 255, 0.5);
                color: rgba(0, 0, 0, 0.7);
            }


            .btn-container {
                display: flex;
                gap: 10px;

            }

            .btn {
                margin-right: 10px;
            }

            .default-button i {
                margin-right: 8px;
            }

            .btn-i:hover {
                background-color: rgba(109, 109, 110, 1) !important;

            }
        }

    }
}