.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 68px;
    color: white;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    transition: background-color 0.4s;
    padding: 0 60px;
    z-index: 100;
    background-color: transparent;

    .header-left {
        display: flex;

        .logo {
            margin-right: 25px;
        }

        .nav-links {
            display: flex;
            font-weight: 500;
            cursor: pointer;
            font-size: 16px;

            li {
                margin-left: 20px;

                &:hover {
                    color: #b3b3b3;
                }
            }

        }
    }

    .header-right {
        display: flex;
        cursor: pointer;
        align-items: center;

        .icon {
            // margin-right: 20px;
            font-size: 20px;
        }

        .auth-link {
            margin-right: 20px;
            padding: 10px 20px;
            background-color: rgb(0, 0, 0, 0.1);
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #555;
            }
        }

        .login {
            background-color: rgb(229, 9, 20);
        }


    }
}

.genre {
    &:hover {
        .genre-container {
            display: table;
        }
    }

}

.genre-container {
    display: none;
    background-color: rgba(25, 25, 25, .9);
    position: absolute;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px;
    border-collapse: collapse;

    td {
        padding: 10px;
        text-align: center;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            background-color: #292929;
            color: #bbb;
        }
    }

    tr:first-of-type td {
        border-top: none;
    }
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.input {
    border-style: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    background-color: #1e293a;
    box-shadow: 0px 0px 3px #1557c0;
    padding-right: 40px;
    color: #fff;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: 0.2s linear;
}

.icon:focus~.input,
.input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #1557c0;
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}


.list-suggest {
    // display: none;
    position: absolute;
    width: 350px;
    max-height: 200px;
    background-color: white;
    top: 60px;
    overflow-y: auto; // để hiển thị thanh cuộn khi nội dung vượt quá chiều cao

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #ddd;

            &:hover {
                background-color: rgba(109, 109, 110, 0.7);
            }

            &:last-child {
                border-bottom: none; // loại bỏ đường viền dưới cùng của mục cuối cùng
            }

            .search-avta {
                width: 65px;
                height: 86px;
                overflow: hidden;
                margin-right: 10px;

                img {
                    width: auto;
                    height: 100%;
                    min-width: 100%;
                    object-fit: cover;
                    overflow-clip-margin: content-box;
                    overflow: clip;
                }
            }

            .search-info {
                h3 {
                    margin: 0;
                    font-size: 16px;
                    color: #292929;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 250px;
                }

                span {
                    display: block;
                    font-size: 14px;
                    color: #757575;
                }
            }
        }
    }
}

.open {
    display: none !important;
    pointer-events: auto;
}