.container-watch-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  // height: ;

  h1 {
    color: aliceblue;
    margin-bottom: 30px;
  }

  .iframe-wrapper {
    width: 100%;
    height: 550px; // Chiều cao mặc định, có thể điều chỉnh theo nhu cầu
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  iframe {
    border: none;
  }

  .wrap-episode {
    width: 60%;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    overflow-y: auto; // Thêm thuộc tính này để cho phép cuộn dọc nếu cần
    max-height: 200px; // Đặt chiều cao tối đa cho danh sách tập phim
    max-width: 700px;
    margin-top: 40px;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 10px;

      li {
        cursor: pointer;
        background-color: #4c4c4c;
        border-radius: 3px;
        color: white;
        padding: 5px 10px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: #0056b3;
        }

        &:active {
          background-color: #003f7f;
        }
      }
    }
  }
}

.active-episode {
  background-color: red !important;
}

h2 {
  color: white;
  margin-bottom: 40px;
}