.container-movie {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px 60px;
}

.container-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 20px;
    padding: 0 20px;

    h2 {
        padding-left: 20px;
        cursor: pointer;
        font-size: 24px;
        font-weight: bold;
        transition: color 0.3s;

        &:hover {
            color: #ffcc00;
        }
    }

    a {
        display: inline-block;
        cursor: pointer;
        padding-left: 10px;
        padding-top: 2px;
        font-size: 16px;
        color: #ffcc00;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: #ffffff;
        }
    }
}

.slideshow-container {
    position: relative;
    display: flex;
    align-items: center;
}

.movies-list {
    display: flex;
    overflow: hidden;
    width: 100%;

    .movie {
        position: relative;
        margin-right: 20px;
        transition: transform 0.3s;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}

.prev,
.next {
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    align-items: center;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    right: 101%;
    border-radius: 3px 0 0 3px;
}

/* Màn hình nhỏ hơn 1200px */
@media (max-width: 1200px) {
    .movies-list .movie {
        margin-right: 2px;

        &:hover {
            z-index: 1;
        }
    }
}

// /* Màn hình nhỏ hơn 992px */
// @media (max-width: 992px) {
//     .prev {
//         left: -7%;
//     }
// }

// /* Màn hình nhỏ hơn 768px */
// @media (max-width: 768px) {
//     .prev {
//         left: -8%;
//     }
// }

// /* Màn hình nhỏ hơn 576px */
// @media (max-width: 576px) {
//     .prev {
//         left: -18%;
//     }
// }


.next {
    left: 98%;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
    margin-right: 0;
}

.dot:nth-child(1) {
    animation-delay: -0.3s;
}

.dot:nth-child(2) {
    animation-delay: -0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }

    50% {
        transform: scale(1.2);
        background-color: #6793fb;
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }

    100% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
}