/* footer.scss */

.footer {
    position: relative;
    padding: 20px;
    // background-color: #333;
    color: gray;
    text-align: center;
    min-height: 100%;
    font-size: 14px;


    .social-icons {
        list-style: none;
        padding: 0;
        margin: 0 0 20px;
        display: flex;
        justify-content: center;

        li {
            margin: 0 10px;
            font-size: 24px;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
                color: #bbb;
            }
        }
    }

    table {
        width: 100%;
        max-width: 800px;
        margin: 0 auto 20px;
        border-collapse: collapse;

        td {
            padding: 10px;
            text-align: center;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
                color: #bbb;
            }
        }

        tr:first-of-type td {
            border-top: none;
        }
    }

    span {
        display: block;
        margin-top: 20px;
        font-size: 14px;
    }
}